<div class="w-full max-h-screen overflow-y-auto h-full">
  <div class="relative w-full pt-20">
    <div
      class="absolute top-0 z-[-2] h-full w-full bg-[#06161e] bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(158,186,165,0.3),rgba(6,23,31,0))] rounded-t-lg"
    ></div>
    <div class="flex px-8 pb-6 gap-x-8">
      <div class="w-56 aspect-square">
        @defer (on viewport) {
        <img
          class="rounded-md"
          [src]="album.images[0].url"
          [alt]="album.name"
        />
        } @placeholder {
        <div role="status" class="space-y-8 animate-pulse rtl:space-x-reverse">
          <div
            class="flex items-center justify-center w-full h-48 bg-gray-300 rounded dark:bg-gray-700"
          >
            <svg
              class="w-10 h-10 text-gray-200 dark:text-gray-600"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 18"
            >
              <path
                d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
              />
            </svg>
          </div>
        </div>
        }
      </div>
      <div class="flex flex-col justify-end gap-y-5">
        <p class="text-sm">{{ album.type | capitalizar }}</p>
        <h2 class="text-8xl font-bold">{{ album.name }}</h2>
        <p class="flex gap-x-2 text-sm items-center">
          <a
            href="#"
            class="flex gap-1 text-sm font-semibold items-center hover:underline"
          >
            <svg
              viewBox="0 0 256 256"
              width="25"
              height="25"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid"
            >
              <path
                d="M128 0C57.308 0 0 57.309 0 128c0 70.696 57.309 128 128 128 70.697 0 128-57.304 128-128C256 57.314 198.697.007 127.998.007l.001-.006Zm58.699 184.614c-2.293 3.76-7.215 4.952-10.975 2.644-30.053-18.357-67.885-22.515-112.44-12.335a7.981 7.981 0 0 1-9.552-6.007 7.968 7.968 0 0 1 6-9.553c48.76-11.14 90.583-6.344 124.323 14.276 3.76 2.308 4.952 7.215 2.644 10.975Zm15.667-34.853c-2.89 4.695-9.034 6.178-13.726 3.289-34.406-21.148-86.853-27.273-127.548-14.92-5.278 1.594-10.852-1.38-12.454-6.649-1.59-5.278 1.386-10.842 6.655-12.446 46.485-14.106 104.275-7.273 143.787 17.007 4.692 2.89 6.175 9.034 3.286 13.72v-.001Zm1.345-36.293C162.457 88.964 94.394 86.71 55.007 98.666c-6.325 1.918-13.014-1.653-14.93-7.978-1.917-6.328 1.65-13.012 7.98-14.935C93.27 62.027 168.434 64.68 215.929 92.876c5.702 3.376 7.566 10.724 4.188 16.405-3.362 5.69-10.73 7.565-16.4 4.187h-.006Z"
                fill="#1ED760"
              />
            </svg>
            Spotify
          </a>
          {{ cantidad }} canciones, cerca de 3 horas
        </p>
      </div>
    </div>
  </div>
  <div class="relative w-full">
    <div
      class="absolute top-0 z-[-2] h-full w-full bg-[#06161e] bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(64,75,67,0.3),rgba(20,24,21,0))] rounded-b-xl"
    ></div>
    <div class="relative overflow-x-auto px-8">
      <table class="w-full text-sm text-left rtl:text-righttext-gray-400">
        <thead class="text-xs text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 w-1">#</th>
            <th scope="col" class="px-6 py-3">Título</th>
            <th scope="col" class="px-6 py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-clock-hour-3"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M12 12h3.5" />
                <path d="M12 7v5" />
              </svg>
            </th>
          </tr>
        </thead>
        <tbody>
          @defer (on viewport) { @for (track of tracks; track $index) {
          <tr>
            <td class="px-6 py-4 w-10">{{ $index + 1 }}</td>
            <th
              scope="row"
              class="px-6 py-4 font-medium whitespace-nowraptext-white"
            >
              <iframe
                style="border-radius: 12px; height: 80px"
                [src]="track.uri | srcTrack"
                width="100%"
                height="auto"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"
              ></iframe>
            </th>
            <td class="px-6 py-4">{{ track.duration_ms | minutos }}</td>
          </tr>
          } } @placeholder {

          <tr>
            <td class="px-6 py-4 w-10">
              <div
                role="status"
                class="w-full p-4 space-y-4 border divide-y rounded shadow animate-pulse divide-gray-700 md:p-6 border-gray-700"
              >
                <div class="flex items-center justify-between">
                  <div class="h-2.5 rounded-full bg-gray-700 w-4"></div>
                </div>
                <span class="sr-only">Loading...</span>
              </div>
            </td>
            <th
              scope="row"
              class="px-6 py-4 font-medium whitespace-nowraptext-white"
            >
              <div
                role="status"
                class="w-96 flex items-center justify-center h-16 max-w-sm rounded-lg animate-pulse bg-gray-700"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M3 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                  <path d="M13 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                  <path d="M9 17v-13h10v13" />
                  <path d="M9 8h10" />
                </svg>
                <span class="sr-only">Loading...</span>
              </div>
            </th>
            <td class="px-6 py-4 w-52 overflow-hidden text-ellipsis">
              <div
                role="status"
                class="w-full p-4 space-y-4 border divide-y rounded shadow animate-pulse divide-gray-700 md:p-6 border-gray-700"
              >
                <div class="flex items-center justify-between">
                  <div class="h-2.5 rounded-full bg-gray-700 w-full"></div>
                </div>
                <span class="sr-only">Loading...</span>
              </div>
            </td>
            <td class="px-6 py-4">
              <div
                role="status"
                class="w-full p-4 space-y-4 border divide-y rounded shadow animate-pulse divide-gray-700 md:p-6 border-gray-700"
              >
                <div class="flex items-center justify-between">
                  <div class="h-2.5 rounded-full bg-gray-700 w-full"></div>
                </div>
                <span class="sr-only">Loading...</span>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
