<button
  type="button"
  class="flex flex-col rounded-lg p-3 hover:bg-[#1a1a1a] hover:cursor-pointer"
  (click)="playMusic(playlist.id)"
>
  <div class="relative w-full aspect-square">
    <img
      class="rounded-lg mb-2"
      src="{{ playlist.images[0].url }}"
      alt="{{ playlist.name }}"
    />
    <div
      class="icono absolute text-black bg-[#1ed861] right-2 bottom-4 p-3 rounded-full opacity-0 transition duration-500 ease-in-out"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="icon icon-tabler icons-tabler-filled icon-tabler-player-play"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"
        />
      </svg>
    </div>
  </div>
  <h2 class="text-base font-semibold mb-2">{{ playlist.name }}</h2>
  <p class="text-sm text-gray-400">{{ playlist.description }}</p>
</button>
