<div
  class="bg-[#202020] rounded-lg px-6 py-5 max-h-screen overflow-y-auto h-full relative"
>
  <form
    class="absolute z-50 top-1 left-28 flex ring-2 ring-white py-2.5 px-4 rounded-full bg-[#2a2a2a] min-w-80"
    action=""
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-search"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
      <path d="M21 21l-6 -6" />
    </svg>
    <input
      class="bg-[#2a2a2a] placeholder:text-sm border-none focus:outline-none text-white w-full ml-2"
      type="search"
      placeholder="¿Qué quieres reporducir?"
    />
  </form>
  <div class="flex gap-x-2 mt-12">
    <span>
      <a
        href="#"
        class="bg-[#292929] py-1 px-3 rounded-full hover:bg-[#2b2b2b] transition-all duration-300 ease-in-out font-bold text-sm"
      >
        Playlists
      </a>
    </span>
    <span
      ><a
        href="#"
        class="bg-[#292929] py-1 px-3 rounded-full hover:bg-[#2b2b2b] transition-all duration-300 ease-in-out font-bold text-sm"
      >
        Artistas
      </a>
    </span>
  </div>
</div>
