<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    color-scheme: light dark;
  }
</style>

<main class="main">
  <div class="flex">
    <app-sidebar></app-sidebar>
    <div class="p-2 w-full relative">
      <div class="absolute left-0 right-0 pt-4 mx-8 z-10">
        <app-navbar></app-navbar>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
